<table class="table">
  <thead>
    <tr>
      <th scope="col">S.No</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">DOB</th>
      <th scope="col">Address</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users;let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.role}}</td>
      <td>{{user.DOB}}</td>
      <td>{{user.address}}</td>
    </tr>
  </tbody>
</table>