<div>
    <h3>Join MSRCosmos and make a winning team even better</h3>
    <section>
        <p>Do you share our passion for data and our drive to innovate? We never stop looking for people like you! Our team members are the foundation for our current and future success. Indeed, their excellence is our biggest asset.</p>
        <p>That’s why we make supporting the people of MSRCosmos our priority. We offer a work experience that’s challenging yet rewarding, with lots of room for innovation, creativity, independent thinking, and growth.</p>
        <p>If you’re looking for career-growth along with a work-platform that will further your skills-set, expertise, and experience, then check our current job openings and apply, or send your resume to careers@msrcosmos.com.</p>
    </section>
    </div>